body {
    background-color: black;
}

.container {
    width: 1470px;
    height: 970px;
    border: 25px solid #2b81ac;
    box-sizing: border-box;
    margin: 190px auto;
    background-color: #3399cc;
}

.container__title {
    font-size: 50px;
    color: white;
    display: inline-block;
    margin: 36px 0 15px 215px ;
}

.container__content {
    width: 985px;
    height: 622px;
    margin: 0 auto;
}

p{
    margin-left: 215px;
}

tr, td {
    border: 6px solid #ffffff;
}

.wish {
    font-size: 25px;
    color: white;
}

.weather__list {
    font-size: 0;
    padding: 0;
    height: 100%;
    border: 6px solid #ffffff;
}

.weather__list-title {
    color: white;
    font-size: 25px;
    list-style: none;
    display: inline-block;
    border: solid #ffffff;
    text-align: center;
    box-sizing: border-box;
    height: 25%;
    font-weight: bold;
    padding:  40px 0;
}

/* Для того, чтобы выбраный объъект оставался непрозрачным*/
/*ul - .weather__list, li - .weather__list-title*/
.weather__list:hover .weather__list-title:not(:hover) {
    opacity: .3;
}

.weather__list{
    transition: 0.5s;
}

.weather__list-title > span {
    display: block;
    padding: 10px 0;
    opacity: .5;
    font-weight: normal;
}

.weather__list-title_25 {
    width: 25%;

}

.weather__list-title_50 {
    width: 50%;

}

.weather__list-title_100 {
    width: 100%;

}

.weather__list-title_bg-blue {
    background-color: #3399cc;
}

.weather__list-title_bg-Turquoise {
    background-color: #33cccc;
}

.weather__list-title_bg-Strikemaster {
    background-color: #996699;
}

.weather__list-title_bg-Crail {
    background-color: #c24747;
}

.weather__list-title_bg-Terracotta {
    background-color: #e2674a;
}

.weather__list-title_bg-Golden_Tainoi {
    background-color: #ffcc66;
}

.weather__list-title_bg-De_York {
    background-color: #99cc99;
}

.weather__list-title_bg-Patina {
    background-color: #669999;
}

.weather__list-title_bg-Hopbush {
    background-color: #cc6699;
}

.weather__list-title_bg-Sea_Green {
    background-color: #339966;
}

.weather__list-title_bg-Kimberly {
    background-color: #666699;
}
















